<!-- mensaje_list.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Mensajes</title>
    {% load static %}
    <link href="{% static 'appfreelance/css/bootstrap.min.css'  %}" rel="stylesheet">
   
    <link rel="stylesheet" href="{%  static 'appfreelance/css/Styles2.css' %}">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">Servicios Freelance</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="{% url 'nosotros' %}">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registro' %}">Registro</a>
                </li>
            </ul>
        </div>
    </nav>

    <h2>Lista de Mensajes</h2>
    <a href="{% url 'mensaje_create' %}">Crear Mensaje</a>
    <ul>
        {% for mensaje in mensajes %}
            <li>
                <a href="{% url 'mensaje_detail' mensaje.pk %}">{{ mensaje.contenido }}</a>
                <a href="{% url 'mensaje_update' mensaje.pk %}">Editar</a>
                <a href="{% url 'mensaje_delete' mensaje.pk %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>

    <div class="home-button">
        <a class="btn btn-primary">Home</a>
    </div>


    <!-- Scripts de Bootstrap (jQuery y JS de Bootstrap) -->
    
    <script src="{% static 'appfreelance/js/bootstrap.bundle.min.js' %}"></script>

    <!-- JavaScript personalizado -->
    <script>

  // Función para mostrar un mensaje de confirmación al hacer clic en el botón "Home"
        document.querySelector('.home-button').addEventListener('click', function() {
            // Mostrar un mensaje de confirmación
            if (confirm('¿Deseas volver a la página de inicio?')) {
                // Si el usuario confirma, redirigir a la página de inicio

                window.location.href = "{% url 'index' %}";
            }
        });

      
    </script>
</body>
</html>
